<html>
    <head>
        <title>{{ plant_name }}</title>

        <meta charset="UTF-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!--suppress JSUnresolvedLibraryURL -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

        <script>
        $(function(){
            setInterval(function(){
                $.ajax({
                  url: "/environment_stats",
                  type: "get",
                  success: function(response) {
                    $("#environment_stats_table #data #temperature").html(response['temperature']);
                    $("#environment_stats_table #data #humidity").html(response['humidity']);
                  },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            },10000);
        });
        </script>

        <script>
            $(document).ready(function () {
                const config = {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: "Temperature",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [],
                            fill: false,
                        },
                        {
                            label: "Humidity",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [],
                            fill: false,
                        }],
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Creating Real-Time Charts with Flask'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value'
                                },
                                ticks: {
                                    suggestedMin: 0,
                                    suggestedMax: 100
                                }
                            }]
                        }
                    }
                };
        
                const context = document.getElementById('canvas').getContext('2d');
        
                const lineChart = new Chart(context, config);
        
                    setInterval(function(){
                        $.ajax({
                          url: "/environment_stats",
                          type: "get",
                          success: function(response) {
                              console.log(response)
                              const data = response;
                              if (config.data.labels.length === 20) {
                                  config.data.labels.shift();
                                  config.data.datasets[0].data.shift();
                              }
                              config.data.labels.push(response['time']);
                              config.data.datasets[0].data.push(response['temperature']);
                              config.data.datasets[1].data.push(response['humidity'])
                              lineChart.update();
                                    },
                          error: function(xhr) {
                            //Do Something to handle error
                          }
                         });
                    },10000);
        
        
            });
        </script>


    </head>
